<IfModule mod_rewrite.c>
Options -Indexes
   RewriteEngine on
   RewriteCond %{SCRIPT_FILENAME} !-d
   RewriteCond %{SCRIPT_FILENAME} !-f
   RewriteRule ^(.+)$ index.php?controller=$1 [QSA,L]
   ErrorDocument 404 404.html
   ErrorDocument 403 403.html
</IfModule>